*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0077b6;
    padding: 10px 0;
    z-index: 1000;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

.hero{
    background-color: #e6f4f8;
    text-align: center;
    padding: 100px 20px 60px;
}

.hero img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.hero h1{
    color: #023e8a;
    font-size: 36px;
}

.hero p{
    font-size: 18px;
    color: #555;
}

.skills{
    padding: 60px 50px;
    background-color: white;
    text-align: center;
}

.skills h2{
    color: #0077b6;
    margin-bottom: 30px;
}

.skill-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.skill-card{
    background-color:#f0f9ff;
    border-radius: 20px;
    overflow: hidden;
}

.skill-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.skill-card p{
    padding: 10px;
    font-weight: bold;
    color: #03045e;
}

.contact{
    background-color: #cad0f8;
    padding: 60px 20px;
    text-align: center;
}

.contact h2{
    color: #03045e;
    margin-bottom: 20px;
}

form{
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form input, form textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

form button{
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.contact-info{
    margin-top: 20px;
}